

body{background-color: yellow;

    .banner{background-color: orange; text-align: center;width: 100%;

    }

    .formulario{
        background-color: rgb(241, 229, 50);
    }














}


      